@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    ul {
        display: flex;
    }

    li {
        margin-right: 10px;
    }

    main {
        max-width: 800px;
        margin: auto;
    }
}